<section id="education" class="section feature feature-center bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 offset-lg-3">
                <div class="heading heading-1 text--center mb-80">
                    <h2 class="heading-title">
                        Education History
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Panel #1 -->
            <div class="col-12 col-md-4 col-lg-4">
                <img class="card-img-top shadow" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">SDN CC 06</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" onclick="window.open('https://id.wikipedia.org/wiki/SDN_Cipinang_Cempedak_06')" class="btn btn-secondary">School Profile</button>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
                <img class="card-img-top shadow" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">SMP Petri Jaya</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" onclick="window.open('http://sekolah.data.kemdikbud.go.id/index.php/chome/profil/90302C96-2BF5-E011-B2E1-1F1A641D5837')" class="btn btn-secondary">School Profile</button>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
                <img class="card-img-top shadow" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">SMKN 10 Jakarta</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" onclick="window.open('http://smkn10jakarta.sch.id/face-recognition-dan-financial-technology/')" class="btn btn-secondary">School Profile</button>
                </div>
            </div>
        </div>
    </div>
</section>