<section id="hero" class="section hero">
    <div class="container">
        <div class="row row-content">
            <div class="col-12 col-md-12 col-lg-6">
                <div class="hero-headline">Lexi Anugrah</div>
                <div class="hero-bio">Software Engineer student, Confident Individualism. Studying at SMKN 10 Jakarta since 2017 - present day. Born at Bangka Island, Indonesia on 30th June 2002</div>
                <h5>Life Goal</h5>
                <div class="hero-bio">Solving human race problems and advancing it towards a better world to live in by creating innovative technology to help us solve big problems. After that i would also want to explorer the space!</div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <div class="hero-img">
                    <img class="img-fluid" src="assets/images/hero/hero.svg" alt="background">
                </div>
            </div>
        </div>
    </div>
</section>