<section id="feature2" class="section feature feature-2 bg-shape">
            <div class="container">
                <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 offset-lg-3">
                            <div class="heading heading-1 text--center mb-80">
                                <h2 class="heading-title">
                                    Works
                                </h2>
                            </div>
                        </div>
                    <div class="col-12 col-md-12 col-lg-6">
                        <img class="img-fluid" src="assets/images/features/service-1.svg" alt="device" />
                    </div>
                    <!-- .col-md-6 end -->
                    <div class="col-12 col-md-12 col-lg-5 offset-lg-1">
                        <div class="feature-panel mt-80">
                            <div class="feature-img bg-purple">
                                <img src="assets/images/features/bookmark.svg" alt="device">
                            </div>
                            <div class="feature-content">
                                <h3>Projekt ; V-Cores</h3>
                                <p>Versatile Computer-based Object Recognition & Authentication System or V-Cores is a facial recognition intended for school attendance system which was created by Lexi Anugrah & Ahmad Saugi</p>
                                <p><b>Component used in this project:</b></p>
                                <ul>
                                    <li>Python</li>
                                    <li>Python - ML kit</li>
                                    <li>Self Trained Face Recognition Model</li>
                                </ul>
                            </div>
                        </div>
                        <!-- .feature-panel end -->
                    </div>
                    <!-- .col-md-6 end -->
                </div>
                <div class="clearfix mt-100 pt-150"></div>
                <!-- .row end -->
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-5">
                        <div class="feature-panel">
                            <div class="feature-img bg-yellow">
                                <img src="assets/images/features/bookmark.svg" alt="device">
                            </div>
                            <div class="feature-content">
                                <h3>Whatsapp Bulk Sender</h3>
                                <p>Whatsapp Bulk Sender is an automated chat bulk sender bot intended for commercial use. This project was created during internship program with PT Solusi Inteltek Indonesia as a part of their teams.</p>
                                <p><b>Language used in this project:</b></p>
                                <ul>
                                    <li>Python</li>
                                    <li>C#</li>
                                    <li>VB</li>
                                </ul>
                            </div>
                        </div>
                        <!-- .feature-panel end -->
                    </div>
                    <!-- .col-md-6 end -->
                    <div class="col-12 col-md-12 col-lg-6 offset-lg-1">
                        <img class="img-fluid pull-right" src="assets/images/features/service-2.svg" alt="device" />
                    </div>
                    <!-- .col-md-6 end -->

                </div>
                <!-- .row end -->
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6">
                        <img class="img-fluid" src="assets/images/features/service-1.svg" alt="device" />
                    </div>
                    <!-- .col-md-6 end -->
                    <div class="col-12 col-md-12 col-lg-5 offset-lg-1">
                        <div class="feature-panel mt-80">
                            <div class="feature-img bg-purple">
                                <img src="assets/images/features/bookmark.svg" alt="device">
                            </div>
                            <div class="feature-content">
                                <h3>Inventory Management Application</h3>
                                <p>Full admin panel to manage inventory storaging system. Created during 1st year at SMKN 10 Jakarta</p>
                                <p><b>Component used in this project:</b></p>
                                <ul>
                                    <li>Laravel</li>
                                    <li>Bootstrap</li>
                                    <li>NodeJS</li>
                                    <li>MongoDB</li>
                                </ul>
                            </div>
                        </div>
                        <!-- .feature-panel end -->
                    </div>
                    <!-- .col-md-6 end -->
                </div>
                <div class="clearfix mt-100 pt-150"></div>
            </div>
            <!-- .container end -->
        </section>